<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>GW2 - Alliance Tranquille - fragment</title>
    <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>

</head>
<body>
<div th:fragment="header">
    <div class="clearfix" id="header">
        <!--/*@thymesVar id="authentication" type="org.springframework.security.oauth2.provider.OAuth2Authentication"*/-->
        <div class="loginInfo" sec:authorize="isAuthenticated()" th:with="auth = ${#authentication.UserAuthentication}, role = ${auth.details['mainRole']}" th:style="${'color:#' + role.hexColor}">
            <!--/*@thymesVar id="auth" type="org.springframework.security.core.Authentication"*/-->
            <!--img alt="logo"/-->
            <img th:if="${auth.details['member'] != null}" th:src="${auth.details['member'].user.avatarUrl}"
                 alt="avatar" class="mini" src=""/>
            <span th:text="${#authentication.name + ' - '+ role.name}">dieu - off?</span>
            <!--a href="/logout">log out</a-->
        </div>

        <div class="loginInfo" sec:authorize="!isAuthenticated()">
            <!--img alt="logo"/-->
            <a th:href="@{/login/discord}">log in</a>
        </div>
    </div>
    <hr/>
    <br/>
</div>
</body>