<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>GW2 - Alliance Tranquille - fragment</title>
    <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>

</head>
<body>
<table class="arraylist">
    <thead>
    <tr>
        <th>#</th>
        <th>test
            <!--/*@thymesVar id="sortElement" type="java.lang.String"*/-->
            <span th:fragment="sortHeader(sortElement)" class="sorting">
                (
                <a th:href="${'?reverse=false&sort=' + sortElement}" href="?reverse=false&sort=test" th:title="${'tri par ordre croissant - ' + sortElement}" title="tri par ordre croissant - test">+</a>
                /
                <a th:href="${'?reverse=true&sort=' + sortElement}" href="?reverse=true&sort=test" th:title="${'tri par ordre décroissant - ' + sortElement}" title="tri par ordre décroissant - test">-</a>
                )
            </span>
        </th>
        <th>image</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>test 1</td>
        <td>
            <!--/*@thymesVar id="member" type="be.shoktan.alliance.tranquille.model.discord.Member"*/-->
            <img th:fragment="logo(member)"
                 th:src="${member.user.avatarUrl}"
                 th:title="${'logo '+member.displayName}"
                 class="logo"
                 src="../../static/emeraude.jpg"
            />
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>
            test 2
            <!--/*@thymesVar id="member" type="be.shoktan.alliance.tranquille.model.discord.Member"*/-->
            <div th:frament="memberSheet(member)" class="memberSheet" th:id="${'memberSheet_' + member.accountName}">
                <img class="logo" th:replace="logo($member)" src="../../static/emeraude.jpg"/>
            </div>
        </td>
        <td>...</td>
    </tr>
    </tbody>
</table>
</body>