table.arraylist{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 95%;
    margin:auto;
}

.arraylist th, .arraylist td{
    border: 1px solid #ddd;
    padding: 8px;
}

.arraylist tr:nth-child(even){background-color: #FFE4B5;}

.arraylist tr:hover {background-color: #ddd;}

.arraylist th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
    font-variant-caps: small-caps;
}

.sorting{
    font-size: small;
}

.cadre {
    background-color: #ffffff;
    border: 2px solid #eeab69;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-image: -moz-linear-gradient(top, #ffffff, #f4f4f4);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f4f4f4));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#f4f4f4);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#f4f4f4)";
    max-width: 75%;
    margin: auto;
}

legend {
    color: #eeab69;
}

table.form th{
    text-align: right;
}

table.form, t

table.form td.actions{
    margin:auto;
    text-align: center;
}

h1{
    text-align: center;
    margin-bottom: 1px;
    text-decoration: underline;
}

.cadre table{
    width: 98%;
    margin:auto;
    #border: 1px solid green;
}

.loginInfo{
    float:right;
}

.clearfix{
    overflow: auto;
}

.mini{
    max-width:25px;
}

.role{
    padding: 5px;
}

