<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"></meta>
    <title>GW2 - Alliance Tranquille - journal de bord</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>

</head>
<body>
<h1>Journal de bord de la guilde</h1>
<table class="arraylist">
    <thead>
    <tr>
        <th>
            #
            <span class="sorting">
                (
                <a href="?sort=id&amp;rev=false">+</a>
                /
                <a href="?sort=id&amp;rev=true">-</a>
                )
            </span>
        </th>
        <th>
            membre
            <span class="sorting">
                (<a href="?sort=name&amp;rev=false">+</a>
                /
                <a href="?sort=name&amp;rev=true">-</a>
                )
            </span>
        </th>
        <th>type</th>
        <th>acteur</th>
        <th>details</th>
        <th>
            date
            <span class="sorting">
                (<a href="?sort=time&amp;rev=false">+</a>
                /
                <a href="?sort=time&amp;rev=true">-</a>
                )
            </span>
        </th>

    </tr>
    </thead>

    <tfoot>
    <tr>
        <th>#</th>
        <th>membre</th>
        <th>type</th>
        <th>acteur</th>
        <th>details</th>
        <th>date</th>
    </tr>
    </tfoot>

    <tbody>
    <!--/*@thymesVar id="logs" type="java.util.ArrayList"*/-->
    <tr th:each="log : ${logs}">
        <!--/*@thymesVar id="log" type="be.shoktan.alliance.tranquille.model.GuildLogEvent"*/-->
        <td th:text="${log.id}">42</td>
        <td><a th:text="${log.user}" href="?user=${log.user}">Wilbur</a></td>
        <td th:text="${log.type.prettyPrint}">Invitation</td>
        <td th:text="${log.actor}">God</td>
        <td th:text="${log.details}">quoi?</td>
        <td th:text="${log.time}">ce matin</td>
    </tr>
    </tbody>

</table>

</body>
</html>